In [ ]:
# Qué: Seleccionar empleados activos y calcular salario pormedio por departamento

SELECT
     departamento.nombre AS departamento,
     COUNT (empleados.id) AS num_empleados,
     AVG(empleados.salario) AS salario_promedio
FROM
    empleados
JOIN
    departamento ON empleados.departamento_id = departamento.id
WHERE
    empleados.activo = true
GROUP BY
    departamento.nombre;
ORDER BY
    salario_promedio DESC;

In [4]:
#Declarativo ejemplo 1
numeros = [1, 2, 3 ,4 ,5 ,6 ,7, 8, 9, 10]
pares_declarativo = list(filter(lambda x: x % 2 == 0, numeros))
print("Declarativo (filter):", pares_declarativo)

Declarativo (filter): [2, 4, 6, 8, 10]

In [5]:
#Imperativo ejemplo 1
numeros = [1, 2, 3 ,4 ,5 ,6 ,7, 8, 9, 10]
pares_imperativo = []
for numero in numeros:
    if numero % 2 == 0:
        pares_imperativo.append(numero)
print("Imperativo (paso a paso):", pares_imperativo)

Imperativo (paso a paso): [2, 4, 6, 8, 10]

In [7]:
#Declarativo ejemplo 2

nombres = ["ana", "juan", "Lucía", "Camilo"]
nombres_declarativo = list(map(str.upper, nombres))
print("Declarativo (map):", nombres_declarativo)

Declarativo (map): ['ANA', 'JUAN', 'LUCÍA', 'CAMILO']

In [8]:
#Imperativo ejemplo 2

nombres = ["ana", "juan", "Lucía", "Camilo"]
nombres_mayus_imperativo = []
for nombre in nombres:
    nombres_mayus_imperativo.append(nombre.upper())

print("Imperativo:", nombres_mayus_imperativo)

Imperativo: ['ANA', 'JUAN', 'LUCÍA', 'CAMILO']

In [9]:
#Declarativo ejemplo 3

numeros_1_20 = list(range(1, 21))
suma_declarativo = sum(num for num in numeros_1_20 if num % 2 == 0)
print("Suma de pares (declarativo):", suma_declarativo)

Suma de pares (declarativo): 110

In [13]:
#Imperativo ejemplo 3

numeros_1_20 = list(range(1, 21))
suma_imperativo = 0
for num in numeros_1_20:
    if num % 2 == 0:
        suma_imperativo += num

print("Suma de pares (imperativo):", suma_imperativo)

Suma de pares (imperativo): 110